<div class="cards">
  <div class="container">
    <div class="card-container">
      <yasna-tariff-card *ngFor="let card of cards" [card]="card">
      </yasna-tariff-card>
    </div>
  </div>s
</div>
