<div class="header">
  <div class="container">
    <div class="image-container">
      <div class="header-item">
        <img src="../../assets/images/slogan.png" alt="">
      </div>
      <div class="header-item">
        <img src="../../assets/images/logo.png" alt="">
      </div>
      <div class="header-item">
        <img src="../../assets/images/phone.png" alt="">
      </div>
      <div class="header-item social-links">
        <div class="social">
          <a href="#" class="social-link">
            <img src="../../assets/images/fb.jpg" alt="">
          </a>
        </div>
        <div class="social">
          <a href="#" class="social-link">
            <img src="../../assets/images/in.jpg" alt="">
          </a>
        </div>
        <div class="social">
          <a href="#" class="social-link">
            <img src="../../assets/images/ok.jpg" alt="">
          </a>
        </div>
        <div class="social">
          <a href="#" class="social-link">
            <img src="../../assets/images/tw.jpg" alt="">
          </a>
        </div>
        <div class="social">
          <a href="#" class="social-link">
            <img src="../../assets/images/vk.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="header-item">
        <a href="https://www.beltelecom.by/news/main/yasna-nas-million">
          <img src="../../assets/images/millionyasna.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
