<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="scrollTo('yasna-header')">Главная</button>
  <button mat-menu-item (click)="scrollTo('yasna-advantages')">Описание</button>
  <button mat-menu-item (click)="scrollTo('yasna-card-container')">Тарифы</button>
  <button mat-menu-item (click)="scrollTo('yasna-additional')">Дополнительные возможности</button>
</mat-menu>
