.card {
  padding: 10px;
  color: #fff;
}

.card-title {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px dashed #fff;
}

.card-name {
  color: #fff;
  font-size: 22px;
}

.card-plan {
  color: #f47a25;
  font-size: 50px;
  border-radius: 20px;
  padding: 5px;
  margin: 0 10px;
  background: #fff;
}

.card-price {
  text-align: center;
  border-bottom: 1px dashed #fff;
  padding: 15px 0;

  span {
    font-size: 40px;
  }
}

.card-description {
  border-bottom: 1px dashed #fff;
  padding: 15px 0;
}

.tv-station {
  border-bottom: 1px dashed #fff;
  padding: 15px 0;
}
