<div class="card" [ngStyle]="{'background-color': card.cardColor}">
  <div class="card-title">
    <span class="card-name">{{card.tariffName}}</span>
    <span class="card-plan">{{card.tariffPlan}}</span>
    <span class="card-name additional">{{card?.additionalName}}</span>
  </div>
  <div class="card-price">
    <span>{{card.price}}</span> р./мес
  </div>
  <div class="card-description">
    {{card.description}}
  </div>
  <div class="tv-station">
    {{card.tvStation}}
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Перечень каналов
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let channel of card.channelList"
           [title]="channel.channelDescription">
        {{channel.channelName}}
      </div>
    </mat-expansion-panel>
  </div>

  <div class="additional-info">
    {{card.additionalInfo}}
  </div>
</div>
